<h1>update</h1>
<%= form_for @book, url: {action: "update"} do |f| %>
    <p><%= f.label :title %>
    <%= f.text_field :title %></p>

    <p><%= f.label :print_date %>
    <%= f.date_field :print_date %></p>

    <p><%= f.label :original_language %>
    <%= f.text_field :original_language %></p>
      
    <%= f.submit :"save" %>
<% end %>