

<%=link_to "Back",doctor_patients_path(@doctor)%>
<h3>
         
       <p>First name: <%= @patient.first_name %> </p>
      <p> last name: <%= @patient.last_name %> </p>
      <p> date: <%= @patient.date %> </p>
      <p> diagnosis: <%= @patient.diagnosis %> </p>
        
        
    </h3>
    <%= link_to 'Edit', edit_doctor_patient_path(@doctor,@patient) %>
    <%= link_to 'Delete', doctor_patient_path(@doctor,@patient), method: :delete %>
