 <%=link_to "Back",authors_path()%>
<h1>Hi</h1>
<h3>
<%= @author.first_name %>
<%= @author.last_name %>
</h3>
<%= link_to 'Delete', author_path(@author), method: :delete %>
<%= "|" %>
<%= link_to 'Edit', edit_author_path(@author)%>